{% extends "base.html.twig" %}
{% block left %}
    {{ render(controller('AppBundle:Category:listAll')) }}
{% endblock %}
{% block center %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ offer.title }}</h1>
                <p>Oferta ważna do {% if offer.expireDate %}{{ offer.expireDate|date('Y-m-d H:i:s') }}{% endif %}</p>
            </div>
            <div class="col-md-3">
                <div class="well">
                    <p>{{ offer.user.username }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <hr>
            <p>Wystawiający: {{ offer.description }}</p>
            <hr>
        </div>
        <div class="row">
            <div class="col">
                <!-- Trigger the Modal -->
                <img id="myImg" src="{{ offer.imageUrl }}" alt="{{ offer.title }}" width="200" height="200">
                <!-- The Modal -->
                <div id="myModal" class="modal">
                    <!-- The Close Button -->
                    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                    <!-- Modal Caption (Image Text) -->
                    <div id="caption"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                {{ render(controller('AppBundle:Comment:new', {'id':offer.id})) }}
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    <div class="container-fluid">
            {{ render(controller('AppBundle:Comment:showForOffer', {'id':offer.id})) }}
    </div>
{% endblock %}