{% extends "bootstrap.html.twig" %}
{% block center %}
    <a href="{{ path('app_mainpage_index') }}">Back to the list</a>
    <p>Oferta ważna do {% if offer.expireDate %}{{ offer.expireDate|date('Y-m-d H:i:s') }}{% endif %}</p>
    <hr>
    <h1>{{ offer.title }}</h1>
    <hr>
    <p>{{ offer.description }}</p>
    <hr>
    <img height="100%" width="100%" src="{{ offer.imageUrl }}"/>
{% endblock %}